body {
    margin: 0;
    background-color: rgb(208, 255, 239);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*The game will be divided in 4 equal parts. Grid will divide it equaly.*/

.genius {
    display: grid;
    grid-template-areas: 'green red' 'yellow blue';
    gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: blue;
    background-color: rgb(4, 152, 250);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: red;
    background-color: rgb(223, 4, 4);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: yellow;
    background-color: rgb(243, 247, 2);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: green;
    background-color: rgb(4, 179, 4);
    border-top-left-radius: 100%;
}


/*selected class will show up when a color is pressed*/

.selected {
    opacity: 0.6;
}