body {
    margin: 0;
    background-image: url(images/wood-bg.jpeg);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    color: rgb(201, 225, 247);
    background-color: rgb(3, 3, 3);
    padding: 10px 20px;
    border: 2px dotted rgb(245, 241, 241);
}


/*The game will be divided in 4 equal parts. Grid will divide it equaly.*/

.genius {
    display: grid;
    grid-template-areas: 'green red' 'yellow blue';
    gap: 10px;
    border: 1px solid #000000;
    background-color: #b6b1b1;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: blue;
    background-color: rgb(3, 116, 190);
    border: 3px solid #000;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: red;
    background-color: rgb(223, 4, 4);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: yellow;
    background-color: rgb(226, 226, 3);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: green;
    background-color: rgb(4, 172, 4);
    border-top-left-radius: 100%;
}

.green,
.blue,
.yellow,
.red {
    border: 2px solid #000;
}


/*selected class will show up when a color is pressed*/

.selected {
    opacity: 0.8;
}